{:paths ["src" "resources"]
 :deps  {org.clojure/clojure   {:mvn/version "1.10.1"}
         ;martian             {:mvn/version "0.1.12"}
         martian               {:local/root "/Users/gary_forward/localdev/development/martian/core/target/martian-0.1.13-SNAPSHOT.jar"}
         martian/clj-http-lite {:local/root "/Users/gary_forward/localdev/development/martian/clj-http-lite/target/martian-clj-http-lite-0.1.13-SNAPSHOT.jar"}
         slingshot             {:mvn/version "0.12.2"}
         com.taoensso/timbre   {:mvn/version "4.10.0"}
         ;garyberger.martian/clj-http-lite {:mvn/version "0.1.13-SNAPSHOT"}
         ;martian-clj-http    {:mvn/version "0.1.12"}
         ;clj-http-fwd                     {:mvn/version "0.1.0"}
         ;gaberger/clj-http-lite   {:git/url "https://github.com/gaberger/clj-http-lite"
         ;                          :sha     "7c5f87c6bd69904eb25ec5c233feb1c05f7aab2e"}

         }
 :aliases
        {:test    {:extra-paths ["test"]
                   :extra-deps  {org.clojure/test.check {:mvn/version "1.0.0"}}}
         :runner
                  {:extra-deps {com.cognitect/test-runner
                                {:git/url "https://github.com/cognitect-labs/test-runner"
                                 :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
                   :main-opts  ["-m" "cognitect.test-runner"
                                "-d" "test"]}
         :jar     {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
                   :main-opts  ["-m" "hf.depstar.jar" "clj-forward-0.0.1.jar"]}
         :install {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
                   :main-opts  ["-m" "deps-deploy.deps-deploy" "install" "clj-forward-0.0.1.jar"]}
         :deploy  {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
                   :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy" "clj-forward-0.0.1.jar"]}}}
